@import "tailwindcss";
@plugin "@tailwindcss/typography";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@theme {
  /* --font-pretendard, --font-jetbrains-mono variable은 next/font가 생성한 것이다. */
  --font-sans:
    var(--font-pretendard), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    var(--font-jetbrains-mono), ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}

/* 기본적으로 dark variant는 prefers-color-scheme 기반으로 동작. 즉 시스템 테마 설정 기반으로 동작
   아래 설정을 통해, html 태그에 .dark class가 있으면 다크모드로 인식한다.
*/
@custom-variant dark (&:where(.dark, .dark *));
