@plugin "@tailwindcss/typography";

/*** code ***/

/* code 태그 font-family mono style로 설정 */
.prose code {
  @apply font-mono text-sm sm:text-base;
}

/* 
  inline code block 스타일링
  code인데 data-language 속성이 없다면, rehype-pretty-code와 상관없는 code
*/
.prose code:not([data-language]) {
  @apply inline bg-secondary border border-border rounded-sm px-0.5 text-brand before:hidden after:hidden break-all;
}

/* rehype-pretty-code의 pre 스타일링 */
.prose pre {
  background-color: var(--shiki-light-bg);
  @apply p-0 border border-border rounded-md overflow-hidden;
}

/* rehype-pretty-code의 코드 블럭 제목 스타일링 */
.prose figcaption[data-rehype-pretty-code-title] {
  @apply inline-block m-0 py-1.5 px-2 border border-b-0 border-border rounded-md rounded-b-none;
}

/* 코드 블럭 제목을 사용한 경우, rehype-pretty-code의 pre 스타일링 */
.prose figcaption[data-rehype-pretty-code-title] + pre {
  @apply rounded-t-none;
}

/* rehype-pretty-code의 code 스타일링: light 모드의 경우 */
/* tailwind v3 -> v4로 업데이트하면서 [data-theme*=" "] 셀렉터 사용시 에러 발생. [data-theme] 셀렉터로 대체 */
.prose code[data-theme] {
  @apply overflow-x-auto py-2;
}

.prose code[data-theme],
.prose code[data-theme] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

.prose code[data-theme] span[data-line] {
  @apply px-4;
}

.prose code[data-theme] span[data-highlighted-line],
.prose code[data-theme] span[data-highlighted-line] span {
  @apply bg-code-highlight-background;
}

/* line number를 표시하기 위한 스타일링 */
.prose code[data-line-numbers] {
  counter-reset: line;
}

.prose code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  @apply inline-block w-3 mr-4 text-right;
}

.prose code[data-line-numbers-max-digits="2"] > [data-line]::before {
  @apply w-5;
}

.prose code[data-line-numbers-max-digits="3"] > [data-line]::before {
  @apply w-7;
}

.prose code[data-line-numbers-max-digits="4"] > [data-line]::before {
  @apply w-9;
}

/* dark mode style */

/* rehype-pretty-code의 pre 스타일링: dark 모드 */
.dark .prose pre {
  background-color: var(--shiki-dark-bg);
}

/* rehype-pretty-code의 code 스타일링: dark 모드의 경우 */
.dark .prose code[data-theme],
.dark .prose code[data-theme] span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}

.dark .prose code[data-theme] span[data-highlighted-line],
.dark .prose code[data-theme] span[data-highlighted-line] span {
  @apply bg-code-highlight-background;
}

/* ================================================================== */
/*** img ***/
.prose img {
  @apply mx-auto max-w-full rounded-md border border-border;
}

/* ================================================================== */
/*** section ***/
/* 
  remark-sectionize 플러그인에 의해 h2, h3를 감싸는 section이 생겨
  "첫번째로 오는 section"의 "첫 번째로 오는 h2"의 margin top이 표시되는 문제 발생
*/
.prose > section:first-child > h2:first-child {
  @apply mt-0;
}

/* ================================================================== */
/*** paragraph ***/
/*
  엄청 긴 단어가 있어서 한줄을 넘게 채우는 경우
  줄바꿈을 넣기 위해서 
  overflow-wrap: break-word;
  스타일 추가
*/
.prose p {
  @apply wrap-break-word;
}
